header {
  
  position: relative;
}
header .wrap {
  
  height: 96px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  max-width: initial;
  z-index: 1;
  animation-name: hdani;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  transition: 1s;
}
@keyframes hdani{
  100%{
    opacity: 1;
  }
  0%{
    transform: translateY(-96px);
  }
}
header .wrap ul.nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
header .wrap ul.nav li {
  
}
header .wrap ul.nav li .ham {
  
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
header .wrap ul.nav li .ham span {
  
  border-top: 3px solid white;
  font-size: 0;
  width: 24px;
  transition: 0.2s;
  height: 7px;
}
header .wrap ul.nav li .ham span:hover{
  
  width: 0;
}
header .wrap ul.nav li h1 {
  
}
header .wrap ul.nav li h1 a {
  background-image: url(../img/header/logo.png);
  width: 123px;
  height: 25px;
  display: block;
  font-size: 0;
}
header .wrap ul.nav li ul.navul {
  
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
header .wrap ul.nav li ul.navul li {
  
}
header .wrap ul.nav li ul.navul li a {
  display: block;
  line-height: 2;
  color: white;
}
header .wrap ul.nav li ul.navul li:nth-child(2) a{
  
  font-size: 0;
  display: block;
  background-image: url(../img/header/search.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header .wrap ul.nav li ul.navul li:nth-child(3) a{
  font-size: 0;
  display: block;
  background-image: url(../img/header/shop.svg);
  width: 24px;
  height: 24px;  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
header .wrap ul.nav li ul.navul li:nth-child(4) a{
  
  font-size: 0;
  display: block;
  background-image: url(../img/header/lock.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}