#title {
  
}
#title .wrap {
  
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
#title .wrap .at {
  
}
#title .wrap .at h2 {
  color: rgba(255,255,255,1);
  text-align: center;
  font-size: 120px;
  letter-spacing: 20px;
  animation-name: ath2ani;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  opacity: 0;
}
@keyframes ath2ani{
  100%{
    opacity: 1;
  }
  0%{
    letter-spacing: 80px;
  }
}
#title .wrap .at a {
  border: 2px solid #eee;
  width: 190px;
  text-align: center;
  border-radius: 30px;
  line-height: 2;
  display: block;
  color: #eee;
  margin-top: 80px;
  animation-name: at1aAni;
  animation-duration: 0.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes at1aAni{
  100%{
    opacity: 1;
    
  }
  0%{
   transform: translateY(100%);
  }
}
#title .wrap .at a:hover{
  
  background-color: #52438e;
  border-color: #52438e;
  transition: 0.5s;
}
#title .wrap .at a::after{
  content: "";
  display: inline-block;
  border-top: 1px solid;
  height: 10px;
  width: 10px;
  border-right: 1px solid;
  transform: rotate(45deg);
  margin-left: 10px;
}
#title .wrap .at p {
  
  margin-top: 20px;
  color: white;
  line-height: 2;
  animation-name: atpAni;
  animation-duration: 0.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes atpAni{
  100%{
    opacity: 1;
    
  }
  0%{
   transform: translateY(100%);
  }
}
#title .wrap .at.at1 {
  
  background-image: url(../img/title/back01.png);
  width: 100%;
  height: 730px;
  overflow: hidden;
  position: relative;
}
#title .wrap .at.at1::before{
  content: "";
  display: block;
  width: 679px;
  height: 785px;
  background-image: url(../img/title/back01_pd.png);  
  position: absolute;
  right: 300px;
  top: 40%;
  animation-name: ar01;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  background-repeat: no-repeat;
  opacity: 0;

  
}
@keyframes ar01{
  0%{
    transform: scale(120%);
    top: 35%;   
  }
  100%{
    opacity: 1;   
  }
}
#title .wrap .at.at1 .atfont1 {

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: absolute;
  left: 15%;
}
#title .wrap .at.at2 {
  
  display: none;
}
#title .wrap .at.at3 {
  
  display: none;
}
#title .wrap .at.at4 {
  
  display: none;
}
#title .wrap .slidN {
  
  display: none;
}
#title .wrap .slidN ul {
  
}
#title .wrap .slidN ul li {
  
}
#title .wrap .slidN ul a {
  
}
#title .wrap .tlside {

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#title .wrap .tlside .tlsideL{

  position: absolute;
  left: 0;
  top: 40%;
}
#title .wrap .tlside .tlsideL a{

  display: block;
  color: white;
}
#title .wrap .tlside .tlsideL a span{
  position: absolute;
  top: 45%;
  width: 116px;
  text-align: right;
}
#title .wrap .tlside .tlsideL a span::before{
  content: "";
  display: block;
  width: 116px;
  border-top: 1px solid;
  margin-bottom: 10px;
}
#title .wrap .tlside .tlsideL a img{

}
#title .wrap .tlside .tlsideR{
  position: absolute;
  right: 0;
  top: 40%;
}

#title .wrap .tlside .tlsideR a{
  display: block;
  color: white;  
}
#title .wrap .tlside .tlsideR a span{
  position: absolute;
  top: 45%;
  width: 116px;  
  right: 0%;  
}
#title .wrap .tlside .tlsideR a span::before{
  content: "";
  display: block;
  width: 116px;
  border-top: 1px solid;
  margin-bottom: 10px;
}
#title .wrap .tlside .tlsideR a img{

}